<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageurl"/>
    <div class="card-body">
        <p class="card-text">{{productItem.discription}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button"
                 class="btn btn-sm btn-outline-primary" (click)="handleAddToCart()">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">share</button>
            </div>
            <small class="text-muted">{{productItem.price | currency:'INR '}}</small>
        </div>
    </div>
</div> 